.battle-box {
  display: flex;
  justify-content: space-around;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stat-table {
  .stat-row {
    border: 1px solid black;
  }
}