.battle-box {
  display: flex;
  justify-content: space-around;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.statTable {
  border-collapse: collapse;
  text-align: center;

  .statRow:not(:last-child) { 
    border-bottom: 1px solid black;
    padding: 1rem;
  }
  .dataName {
    border: 1px solid black;
  }

  // .rightData {
    
  // }
}



